@tailwind base;
@tailwind components;
@tailwind utilities;


.terminal {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}





.input-prefix {
  display: flex;
  align-items: center; 
}

.typewriterPreformatted {
  font-family: monospace;
  white-space: pre-wrap; 
}

.command, .response {
  margin-bottom: 5px;
}

.terminal-text {
  font-family: 'monospace';
  font-size: medium;
  color: rgb(255, 255, 255);
  position: absolute; 
  top: 0;
  left: 0;
  margin: 10px;
}

.terminal-form {
  width: 100%; 
  flex-direction: column;
  display: flex; 
}


.input-field {
  background-color: transparent; 
  width: 100%;
  border: white; 
  color: inherit;
  font-size: medium; 
  outline: none; 
}

.typewriterText {
  font-family: 'monospace';
  color: rgb(255, 255, 255);
  white-space: pre;
  cursor: blink;
  animation: blinkCursor 0.75s steps(1) infinite;
}


@media (max-width: 900px) {
  .typewriterText {
    font-size: 7px; 
  }
  .input-field {
    font-size: 7px;
  }
}



@keyframes blinkCursor {
  from { border-right-color: rgb(255, 255, 255); }
  to { border-right-color: transparent; }
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}
